<main>
    <div>
        <h3>Dúvidas? Ligue 0800-761-4631</h3>
    </div>
    <div class="container">
        <div class="col">
            <a href="">Perguntas Frequentes</a>
            <a href="">Relação com investidores</a>
            <a href="">Formas de Assistir</a>
            <a href="">Informações corporativas</a>
            <a href="">Só na Netflix</a>
        </div> 
        <div class="col">
            <a href="">Centro de ajuda</a>
            <a href="">Carreiras</a>
            <a href="">Termos de uso</a>
            <a href="">Entre em contato</a>
        </div>
        <div class="col">
            <a href="">Conta</a>
            <a href="">Resgatar cartão pré-pago</a>
            <a href="">Privacidade</a>
            <a href="">Teste de velocidade</a>
        </div>
        <div class="col">
            <a href="">Imprensa</a>
            <a href="">Comprar com cartão pré-pago</a>
            <a href="">Preferência de cookies</a>
            <a href="">Avisos legais</a>
        </div>

    </div>
    <div class="brand">
        <p>Netflix Brasil</p>
    </div>
</main>