<main>
    <div>
        <h3>Dúvidas? Ligue 0800-761-4631</h3>
    </div>
    <div class="container">
        <div class="col">
            <a href="">Perguntas Frequentes</a>
            <a href="">Preferências de cookies</a>
        </div> 
        <div class="col">
            <a href="">Centro de ajuda</a>
            <a href="">Informações corporativas</a>
        </div>
        <div class="col">
            <a href="">Termos de uso</a>

        </div>
        <div class="col">
            <a href="">Privacidade</a>
        </div>

    </div>
    <div class="brand">
        <p>Netflix Brasil</p>
    </div>
</main>