<main class="containerFrame2">
	<div class="top">
		<app-toobar-login> </app-toobar-login>
	</div>
	<div class="middle">
		<app-form-login> </app-form-login>
	</div>

	<div class="bottom">
		<app-footer-login> </app-footer-login>
	</div>

</main>

<!-- <div class="formFrame2">
		<div class="loginFrame2">
			<h1>Entrar</h1>
			<form>
				<div class="inputUserFrame2">
					<input type="text" placeholder="Email ou número de telefone">
				</div>
				<div class="inputPasswordFram2">
					<input type="text" placeholder="Senha">
				</div>
				<button>Entrar</button>
			</form>
		</div>
		<div class="infoFrame2">
			<p>
				<span>
					Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô.
				</span>
				<button type="button" [class.hidden] = "hidden" (click)="hide()">Saiba mais</button>
			</p>
			<div class="privacyInfoFrame2" >
				<p [class.hidden] = "!hidden">As informações recolhidas pelo Google reCAPTCHA estão sujeitas à Política de Privacidade
					 e Termos de Uso, e são usadas para oferecer, manter e melhorar o serviço reCAPTCHA e por
					 questões de segurança (não são usadas para exibir anúncios personalizados pelo Google).
				</p>
			</div>
		</div>
	</div> -->
