:root {
	margin: 0px;
}

main {
	margin: 0px;
	width: 100%;
	height: 100vh;
	background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/d027fa5a-b010-4932-a5cc-5160202a40ad/BR-pt-20211115-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
	background-repeat: no-repeat;
}
