<div class="frame5">
  <div class="backgroundImage">
    <img src="/assets/frame_5_background.png" alt="">
  </div>
  <div class="container">
    <header>
      <figure>
        <img src="/assets/netflix-Logo_v2.png" alt="Netflix Logo">
      </figure>
      <nav>
        <ul>
          <li class="liHeader firstLi" (focus)=" !liBold " [class.liBold] = "liBold" >Início</li>
          <li class="liHeader">Séries</li>
          <li class="liHeader">Filmes</li>
          <li class="liHeader">Bombando</li>
          <li class="liHeader">Minha Lista</li>
        </ul>
      </nav>
    </header>
    <div class="contentFrame5">
      <div class="movieTitle">
        <img src="/assets/movie_title.png" alt="">
      </div>
      <div class="top">
        <h4>TOP 10</h4>
        <h2>Brasil: top 2 de hoje</h2>
      </div>
      <div class="buttons">
        <button type="button" id="watchBtt">Assistir</button>
        <button type="button" id="moreInfoBtt">Mais informações</button>
      </div>
    </div>
  </div>
</div>
