header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

header figure {
  margin: 0;
  padding-top: 50px;
  padding-right: 65px;
  padding-left: 6vw;
}

header img {
  width: 165px;
}

header ul {
  padding: 0;
  display: flex;
}

.liHeader {
  list-style: none;
  margin-right: 35px;
  font-size: 24px;
  color: white;
  font-weight: 300;
  white-space: nowrap;
}
.liHeaderSecond:hover {
  transition: 0.5s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.firstLi {
  font-weight: 700;
}

.firstLi:hover {
  cursor: default;
}

@media screen and (min-width: 1500px) {
  header figure {
    padding-left: 90px;
    /* margin: 10vw; */
  }
}
