header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  padding-right: 65px;
  padding-left: 6vw;
}

header img {
  width: 165px;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.liHeader {
  list-style: none;
  margin-right: 35px;
  font-size: 24px;
  color: white;
  font-weight: 300;
  white-space: nowrap;
}
.liHeaderSecond:hover {
  transition: 0.5s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.firstLi {
  font-weight: 700;
}

.firstLi:hover {
  cursor: default;
}

@media screen and (min-width: 1500px) {
  header figure {
    padding-left: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .liHeader {
    font-size: 22px; /*it was 24px*/
  }
}

@media screen and (max-width: 1150px) {
  header figure {
    padding-right: 45px;
  }
  .liHeader {
    font-size: 1.8vw; /*it was 22px*/
  }
}

@media screen and (max-width: 950px) {
  header {
    padding-top: 3vw;
  }

  header figure {
    padding-right: 4.5vw; /*60px*/
  }
  header img {
    width: 12vw;
  }
}

@media screen and (max-width: 840px) and (min-width: 834px) {
  header img {
    width: 15vw;
  }
  .liHeader {
    font-size: 2.3vw; /*it was 22px*/
  }
}

@media screen and (max-width: 480px) {
  header img {
    width: 18vw;
  }
  .liHeader {
    font-size: 2.7vw;
  }
}
