<main>
    <div class="containerTop">
			<app-toolbar></app-toolbar>
        <!-- <img src="../../assets/netflix-Logo.png" alt="Logo Netflix"> -->
        <div class="contentTop">
            <h1>Filmes, séries e muito mais. Sem limites</h1>
            <h2>Assista onde quiser. Cancele quando quiser.</h2>
            <h3>Pronto para assistir? Clique no botão abaixo para ser redirecionado para tela de login.</h3>
            <button class="btnEntrar" routerLink="/login" >Entrar</button>
        </div>
    </div>

    <div class="content">
        <div class="hr"></div>

        <app-promo-list-text-left
            title="Aproveite na TV."
            text="Assista em Smart TVs, Playsation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos."
            imgSrc="../../../assets/tv.png"
            imgAlt="TV"
        ></app-promo-list-text-left>

        <div class="hr"></div>

        <app-promo-list-text-right
            title="Baixe séries para assistir offline."
            text="Salve seus títulos favoritos e sempre tenha algo para assitir"
            imgSrc="../../../assets/mobile-0819.png"
            imgAlt="Celular"
        ></app-promo-list-text-right>

        <div class="hr"></div>

        <app-promo-list-text-left
            title="Assista quando quiser"
            text="Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso."
            imgSrc="../../../assets/device-pile.png"
            imgAlt="Computador, celular e tablet"
        ></app-promo-list-text-left>

        <div class="hr"></div>

        <app-promo-list-text-right
            title="Crie perfis para crianças."
            imgSrc="../../../assets/infantil.png"
            imgAlt="Crianças"
        ></app-promo-list-text-right>

        <div class="hr"></div>

    </div>

    <app-footer-start></app-footer-start>

</main>
